[Unit]
Description=Syncing local files with Google Drive using rclone bisync
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=1

[Service]
Type=oneshot
ExecStart=rclone bisync gdrive: %h/gdrive/ -MvP --compare size,modtime,checksum --conflict-resolve newer --conflict-loser delete --recover && notify-send -u normal -t 1000 -a "rclone" "Syncing files with Google Drive done"

[Install]
WantedBy=default.target
