[Unit]
Description=Rclone timer (triggers every 10 minutes)

[Timer]
OnCalendar=*:0/10
Persistent=true
Unit=rclone.service

[Install]
WantedBy=default.target
